/* @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} */

.App {
    /* animation: fadeIn 1.5s; */
    margin: 8vh 6vw;
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: 84vh;
    max-width: 1268px;
    max-height: 674px;
    transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
}


@media screen and (max-width: 1300px) {
    .App {
        margin: 5vh 3vw;
        height: 90vh;
    }
}

/* Mobile  */
@media screen and (max-width: 1040px) {
    .App {
        margin-top: 3vw;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        display: flex;
        height: 80vh;
    }
}